section.wrg.slider
    .container
        h2.h2 Featured Products
        .slider__wrapper
            .slider__product
                .slider__image__wrap
                    figure.slider__figure
                        img(src="images/fp1.png" alt="Cantilever chair" class="slider__image")
                        a.buttons.slider__button-hide(href="") View Details
                .slider__text(href="#")
                    p.slider__title Cantilever chair
                    p.slider__code.slider__text-sm Code - Y523201
                    p.slider__price.slider__text-sm $42.00
            
            .slider__product
                .slider__image__wrap
                    figure.slider__figure
                        img(src="images/fp2.png" alt="Cantilever chair" class="slider__image")
                        a.buttons.slider__button-hide(href="") View Details
                .slider__text(href="#")
                    p.slider__title Cantilever chair
                    p.slider__code.slider__text-sm Code - Y523201
                    p.slider__price.slider__text-sm $42.00

            .slider__product
                .slider__image__wrap
                    figure.slider__figure
                        img(src="images/fp3.png" alt="Cantilever chair" class="slider__image")
                        a.buttons.slider__button-hide(href="") View Details
                .slider__text(href="#")
                    p.slider__title Cantilever chair
                    p.slider__code.slider__text-sm Code - Y523201
                    p.slider__price.slider__text-sm $42.00

            .slider__product
                .slider__image__wrap
                    figure.slider__figure
                        img(src="images/fp4.png" alt="Cantilever chair" class="slider__image")
                        a.buttons.slider__button-hide(href="") View Details
                .slider__text(href="#")
                    p.slider__title Cantilever chair
                    p.slider__code.slider__text-sm Code - Y523201
                    p.slider__price.slider__text-sm $42.00

            .slider__product
                .slider__image__wrap
                    figure.slider__figure
                        img(src="images/fp2.png" alt="Cantilever chair" class="slider__image")
                        a.buttons.slider__button-hide(href="") View Details
                .slider__text(href="#")
                    p.slider__title Cantilever chair
                    p.slider__code.slider__text-sm Code - Y523201
                    p.slider__price.slider__text-sm $42.00
            