section.wrg.tab.pt-0
    .container
        h2.h2 Latest Products
        ul.tab__button__wrapper#tab__buttons
            li.tab__button.tab__button-active(onclick="filterSelection('new')") New Arrival
            li.tab__button(onclick="filterSelection('best')") Best Seller
            li.tab__button(onclick="filterSelection('featured')") Featured
            li.tab__button(onclick="filterSelection('special')") Special Offered

        .tab__list__wrapper
            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-1.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00
            
            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-2.png" alt="Cantilever chair" class="tab__image")
                    .tab__badge 
                        span Sale
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-3.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-4.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-5.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.new
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-6.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.best
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-2.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.best
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-3.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.best
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-4.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.featured
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-5.png" alt="Cantilever chair" class="tab__image")
                    .tab__badge 
                        span Sale
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.featured
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-2.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.featured
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-4.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.special
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-2.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.special
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-3.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00

            .tab__list.special
                .tab__image__wrap
                    figure.tab__figure
                        img(src="images/new-4.png" alt="Cantilever chair" class="tab__image")
                    .tab__icons__wrap
                        .tab_icon
                            img(src="images/cart-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/like-icon.png" class="tab__icon__image")
                        .tab_icon
                            img(src="images/zoom-icon.png" class="tab__icon__image")
                .tab__content__wrap
                    a.tab__title(href="#") Comfort Handy Craft
                    .tab__price $42.00
                        delpr.tab__price-off $65.00



