html,body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    padding:0;
    margin:0;
}
body {
    display:none;
    &.is-loaded {
        display:block;
    }
}
a,a:hover{
    transition: .3s all;
}

$primary: #151875;
$secondary: #FB2E86;
$bg_lighter: #F6F7FB;
$bg_light: #F7F7F7;
$btn_color: #08D15F;

.buttons{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    background: $btn_color;
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
}
.pt-0{
    padding-top: 0!important;
}