.wrg.header {
	background: #000;
	.header__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(10) 0;
	}
	h1 {
		margin: 0;
	}
	.header__nav {
		ul {
			li {
				list-style: none;
				display: inline-block;
				margin: 0 rem(10);
			}
		}
		a {
			color: #fff;
			&.active {
				color: #e4675b;
			}
		}
	}
}
.h2{
	font-size: 42px;
	color:$primary;
	font-weight: 700;
	text-align: center;
	@include max(767){
		font-size: 30px;
	}
}