ul, ol {
	margin:0;
	padding:0;
	li {
		list-style: none;
	}
}
p {
	@include font-size(16px, 18px);
	margin:0 0 rem(20);
	&:last-of-type {
		margin: 0;
	}
	&:empty {
		display:none;
	}
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 rem(20);
}

@mixin content($width,$height,$bg) {
	content: '';
	width: $width;
	height: $height;
	background: $bg;
	position: absolute;
}
@mixin vh-center(){
	@include flexbox();
    @include justify-content(center);
    @include align-items(center);
}
@mixin flexbox() {
	display: -ms-flexbox;
	display: flex;
	@include flex-wrap(wrap);
  }
  @mixin flexbox-display($displays) {
	@if $displays == block {
	  display: -ms-flexbox;
	  display: flex;
	}
	@else if $displays == inline-flex {
	  display: -ms-inline-flexbox;
	  display: inline-flex;
	}
  }
  
  @mixin flex($grow,$shrink,$basis) {
	-ms-flex: $grow $shrink $basis;
		flex: $grow $shrink $basis;
  }

  @mixin flex-direction($direction) {
	-ms-flex-direction: $direction;
		flex-direction: $direction;
  }
  
  @mixin flex-wrap($wrap) {
	-ms-flex-wrap: $wrap;
		flex-wrap: $wrap;
  }
  
  @mixin flex-flow($flow) {
	-ms-flex-flow: $flow;
		flex-flow: $flow;
  }
  
  @mixin order($val) {
	-ms-flex-order: $val;
			 order: $val;
  }
  
  @mixin flex-grow($grow) {
	-ms-flex-positive: $grow;
			flex-grow: $grow;
  }

  @mixin flex-shrink($shrink) {
	-ms-flex-negative: $shrink;
		  flex-shrink: $shrink;
  }

  @mixin flex-basis($width) {
	-ms-flex-basis: $width;
		flex-basis: $width;
  }

  @mixin justify-content($jc-displays) {
	@if $jc-displays == start {
		-ms-flex-pack: start;
	  justify-content: flex-start;
	}
	@else if $jc-displays == end {
		-ms-flex-pack: end;
	  justify-content: flex-end;
	}
	@else if $jc-displays == center {
		-ms-flex-pack: center;
	  justify-content: center;
	}
	@else if $jc-displays == between {
		-ms-flex-pack: justify;
	  justify-content: space-between;
	}
	@else if $jc-displays == around {
		-ms-flex-pack: distribute;
	  justify-content: space-around;
	}
  }
  
  @mixin align-content($ac-displays) {
	@if $ac-displays == start {
	  -ms-flex-line-pack: start;
		   align-content: flex-start;
	}
	@else if $ac-displays == end {
	  -ms-flex-line-pack: end;
		   align-content: flex-end;
	}
	@else if $ac-displays == center {
	  -ms-flex-line-pack: center;
		   align-content: center;
	}
	@else if $ac-displays == between {
	  -ms-flex-line-pack: justify;
		   align-content: space-between;
	}
	@else if $ac-displays == around {
	  -ms-flex-line-pack: distribute;
		   align-content: space-around;
	}
	@else if $ac-displays == stretch {
	  -ms-flex-line-pack: stretch;
		   align-content: stretch;
	}
  }

  @mixin align-items($ai-displays) {
	@if $ai-displays == start {
	  -ms-flex-align: start;
		 align-items: flex-start;
	}
	@else if $ai-displays == end {
	  -ms-flex-align: end;
		 align-items: flex-end;
	}
	@else if $ai-displays == center {
	  -ms-flex-align: center;
		 align-items: center;
	}
	@else if $ai-displays == baseline {
	  -ms-flex-align: baseline;
		 align-items: baseline;
	}
	@else if $ai-displays == stretch {
	  -ms-flex-align: stretch;
		 align-items: stretch;
	}
  }

  @mixin align-self($as-displays) {
	@if $as-displays == auto {
			   align-self: auto;
	  -ms-flex-item-align: auto;
	}
	@else if $as-displays == start {
			   align-self: start;
	  -ms-flex-item-align: flex-start;
	}
	@else if $as-displays == end {
			   align-self: end;
	  -ms-flex-item-align: flex-end;
	}
	@else if $as-displays == center {
			   align-self: center;
	  -ms-flex-item-align: center;
	}
	@else if $as-displays == baseline {
			   align-self: baseline;
	  -ms-flex-item-align: baseline;
	}
	@else if $as-displays == stretch {
			   align-self: stretch;
	  -ms-flex-item-align: stretch;
	}
  }
  // FlexBox Wrap
  @mixin flex-align($alignment) {
	@include flexbox();
	@if $alignment == vCenter {
	  @include align-items(center);
	}
	@else if $alignment == hCenter {
	  @include justify-content(center);
	}
	@else if $alignment == vhCenter {
	  @include align-items(center);
	  @include justify-content(center);
	}
	@else if $alignment == vBottom {
	  @include align-items(end);
	}
	@else if $alignment == vBtmHCntr {
	  @include align-items(end);
	  @include justify-content(center);
	}
	@else if $alignment == vCenHRight {
	  @include align-items(center);
	  @include justify-content(end);
	}
	@else if $alignment == vhEnd {
	  @include align-items(end);
	  @include justify-content(end);
	}
	@else if $alignment == hRight {
	  @include justify-content(end);
	}
  }