section{
    &.wrg{
        padding: 100px 0px;
    }
}
.slider{
    .slider__wrapper{
        .slider__product{
            box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.08);
            .slider__image__wrap{
                background-color: $bg_lighter;
                .slider__figure{
                    height: 178px;
                    padding: 40px;
                    margin:0;
                    text-align: center;
                    position: relative;
                    .slider__image{
                        height: 100%;
                        width: auto;
                        transition: .2s all;
                        margin: auto;
                        @include max(991){
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                    .slider__button-hide{
                        position: absolute;
                        bottom: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: .3s all;
                        z-index: -1;
                        &:hover{
                            background: $primary;
                        }
                    }
                }
                
            }
            .slider__text{
                padding: 40px;
                text-decoration: none;
                display: block;
                transition: .3s all;
                background: #fff;
                p{
                    text-align: center;
                }
                .slider__title{
                    font-size: 18px;
                    color: $secondary
                }
                .slider__code{
                    margin-top: 0;
                    margin-bottom: 8px;
                }
                .slider__text-sm{
                    font-size: 14px;
                    font-weight: 400;
                    color: $primary;
                }
            }
            &:hover{
                .slider__image__wrap{
                    .slider__figure{
                        .slider__image{
                            transform: scale(0.9);
                            transition: .2s all;
                        }
                        .slider__button-hide{
                            display: inline-block;
                            bottom: 10px;
                            transition: .2s all;
                            z-index: 1;
                        }
                    }
                }
                .slider__text{
                    background: $primary;
                    transition: .2s all;
                    p{
                        color: #fff;
                    }
                }
            }
            &.slick-current{
                .slider__image__wrap{
                    .slider__figure{
                        .slider__image{
                            @include max(1199){
                                transform: scale(0.9);
                                transition: .2s all;
                            }
                            
                        }
                        .slider__button-hide{
                            @include max(1199){
                                display: inline-block;
                                bottom: 10px;
                                transition: .2s all;
                                z-index: 1;
                            }
                        }
                    }
                }
                .slider__text{
                    @include max(1199){
                        background: $primary;
                        transition: .2s all;
                    }
                    
                    p{
                        @include max(1199){
                            color: #fff;
                        }
                        
                    }
                }
            }
        }
    }
}
.tab{
    .tab__button__wrapper{
        text-align: center;
        .tab__button{
            display: inline-block;
            margin-right: 60px;
            color: $primary;
            cursor: pointer;
            position: relative;
            padding: 3px;
            @include max(481){
                margin-right: 0;
                margin:8px;
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: $secondary;
            }
            &.tab__button-active{
                color: $secondary;
                &:after{
                    @include content(100%,2px,$secondary);
                    bottom: -3px;
                    left: 0;
                }
            }
        }
    }
    .tab__list__wrapper{
        padding-top: 50px;
        @include flexbox();
        margin-left: -15px;
        margin-right: -15px;
        .tab__list{
            display: none;
            flex-basis: calc(33.33% - 30px);
            max-width: 33.33%;
            margin-left: 15px;
            margin-right: 15px;
            &.show{
                display: block;
            }
            @include max(991){
                flex-basis: calc(50% - 30px);
                max-width: 50%;
                margin-bottom: 30px;
            }
            @include max(481){
                flex-basis: calc(100% - 30px);
                max-width: 100%;
                margin-bottom: 30px;
            }
            .tab__image__wrap{
                background: $bg_light;
                height: 270px;
                position: relative;
                @include vh-center();
                &:hover{
                    background: #fff;
                }
                .tab__figure{
                    text-align:center;
                    margin: 12px;
                    .tab__image{
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                    }
                }
                .tab__icons__wrap{
                    position: absolute;
                    bottom: 25px;
                    left: 8px;
                    opacity: 0;
                    transition: .3s all;
                    .tab_icon{
                        width: 30px;
                        height: 30px;
                        @include vh-center();
                        border-radius: 50%;
                        cursor: pointer;
                        &:hover{
                            background: #EEEFFB;
                        }
                        &:not(:last-child){
                            margin-bottom: 5px;
                        }
                        
                    }
                }
                .tab__badge{
                    background:url(../images/sale-bg.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    color: #fff;
                    font-size: 14px;
                    width: 100px;
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    span{
                        top: -8px;
                        position: relative;
                        transform: rotate(-18deg) translateX(-47%);
                        display: block;
                        left: 65%;
                    }
                }
            }
            .tab__content__wrap{
                margin-top: 16px;
                .tab__title{
                    float: left;
                    font-size: 16px;
                    position: relative;
                    color: $primary;
                    text-decoration: none;
                    &:hover{
                        color: $secondary;
                    }
                    &:after{
                        @include content(100%,2px,#EEEFFB);
                        bottom: -5px;
                        left: 0;
                    }
                }
                .tab__price{
                    float: right;
                    color: $primary;
                    font-size: 14px;
                    .tab__price-off{
                        color: $secondary;
                        padding-left: 8px;
                        font-size: 12px;
                    }
                }
            }
            &:hover{
                .tab__icons__wrap{
                    opacity: 1;
                    transition: .3s all;
                }
            }
        }
        
    }
    
}