extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
//- block story
//- 	include ../components/story/story.pug
//- 	include ../components/story/story--red.pug
//- 	include ../components/story/story--pink.pug
block slider
	include ../components/slider.pug
block tab
	include ../components/tab.pug
