@mixin min-max($resMin, $resMax) {
    @media (min-width: $resMin+px) and (max-width: $resMax+px) {
      @content;
    }
  }
  @mixin max($res) {
    @media (max-width: $res+px) {
      @content;
    }
  }
  @mixin min($res) {
    @media (min-width: $res+px) {
      @content;
    }
  }