.wrg.story.story--red
    .container
        h3 for beginner
        .story__step
            h4 step 1
            p downlaod and install node 
                a(href='https://nodejs.org/en/download/' target='_blank') here
        .story__step
            h4 step 2
            p 
                code npm install gulp-cli -g
            p this will check for node, npm. Install the gulp package in your dev dependencies.