.wrg.story.story--pink
    .container
        h3 Test
        .story__step
            h4 step 1
            p clone the boiler template
            p 
                code git clone git@bitbucket.org:whiterabbitgroup/frontend_template.git
       
        .story__step
            h4 step 2
            p 
                code npm install
            p this will install all the dependencies

        .story__step
            h4 step 3
            h4  now our local setup is ready to run
            p 
                code gulp
            p this will run the gulp task and our project will open in a new browser window.

        .story__step
            h4  for a developer deployment use
            p 
                code gulp --build
            p this will run the gulp task, update the dist folder with all the .html and .css files.(also open a preview in your default browser)
        .story__footer
            p happy coding!
