header.wrg.header
  .container
      .header__wrap
          h1 
            img(src="https://whiterabbit.group/images/whiterabbit-logo.svg")
          nav.header__nav
            ul
              +menu('Home', '/')